@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --animate-fade-in: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} 
html {
  scroll-behavior: smooth;
}
body {
  background: hsla(31,23%,65%,1);
  color: var(--foreground);
  font-family: var(--font-sans);
}

button {
  cursor: pointer;
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.link:hover {
  span {
    width: 120%;
  }
}
